# --- Archivos de configuración con claves ---
.env
.env.*
sandbox.py

# --- Python ---
__pycache__/
*.py[cod]

# Entornos virtuales
venv/
.venv/

# --- Node.js ---
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Serverless ---
.serverless/

# --- macOS ---
.DS_Store

# --- Otros temporales ---
tmp/
*.log
*.out
*.tmp

node_modules/
